* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

body {
  background: rgb(9, 48, 9);
  background: linear-gradient(
    90deg,
    rgba(9, 48, 9, 1) 0%,
    rgba(3, 34, 2, 1) 48%,
    rgba(54, 148, 87, 1) 100%
  );
}
